$width: 5em;
$bgColor:#ff77ff;
$bgColor2:#42b983;

h1, h2 {
  font-weight: normal;
  color: $bgColor;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: $bgColor2;
  // background-color: $bgColor;
}